export const env = {
  SLACK_APP_NAME: "gpt-bot",
  SLACK_APP_DISPLAY_NAME: "gpt-bot",
  // A system message for ChatGPT (configurable by users after installation)
  INITIAL_SYSTEM_MESSAGE: "You are a helpful assistant.",
  // Channel ID where ChagGPT bot works (configurable by users after installation)
  INITIAL_SLACK_CHANNEL_ID: "CXXXXXXXXX",
  // The number of messages as conversation history to send to ChatGPT API
  MESSAGE_HISTORY_SIZE: 10,
  GPT_MODEL: "gpt-4o",
};
